@font-face {
  font-family: 'iconfont';
  src:url('@{fontBaseUrl}/iconfont.woff') format('woff'),///* chrome、firefox */
  url('@{fontBaseUrl}/iconfont.ttf') format('truetype');///* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.reloading ,.icon-load-a {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg); }

    100% {
        -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); }

    100% {
        -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg); }

    100% {
        -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg); }

    100% {
        -ms-transform: rotate(359deg); } }

@keyframes spin {
    0% {
        transform: rotate(0deg); }

    100% {
        transform: rotate(359deg); } }


.dingxiang:before {
    content: "\e600";
}

.emotion:before {
    content: "\e601";
}

.pic:before {
    content: "\e602";
}

.reload:before {
    content: "\e603";
}

.compose-outline:before {
    content: "\e604";
}

.redo-outline:before {
    content: "\e605";
}

.chatbubble:before {
  content: "\e61b";
}

.chatbubble-outline:before {
    content: "\e606";
}

.heart-outline:before {
    content: "\e607";
}

.people-outline:before {
    content: "\e608";
}

.people:before {
    content: "\e609";
}

.person:before {
    content: "\e60a";
}

.person-outline:before {
    content: "\e60b";
}

.gear:before {
    content: "\e60c";
}

.gear-outline:before {
    content: "\e60d";
}

.camera-outline:before {
    content: "\e60e";
}

.at-outline:before {
    content: "\e60f";
}

.filing-outline:before {
    content: "\e610";
}

.alarm-outline:before {
    content: "\e611";
}

.chatboxes-outline:before{
    content:"\e612";
}
.arrow-thin-left:before{
    content:"\e613";
}
.paper-plane-outline:before{
    content:"\e614";
}
.location-outline:before{
    content:"\e615";
}
.icon-load-a:before{
    content:"\e618";
}
.close:before{
    content:"\e617";
}
.home:before{
  content:"\e619";
}
.home-outline:before{
  content:"\e608";
}
.world-outline:before{
  content: "\e61c";
}
