/*
#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 100px;
}
.tabbar{
  top:auto;
}*/
.card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}
.f_right{
  float: right;
}
.f_left{
  float: left;
}
.item-image img{
  margin: 2px;
}
.f23{
  font-size: 23px;
}
.v_t{
  vertical-align: top!important;
}
.v_b{
  vertical-align: bottom!important;
}
.v_c{
  vertical-align: center!important;
}

.bg-text {
  background-color: #333 !important; }

.border-text {
  border-color: #333 !important; }

.color-text-light {
  color: #999 !important; }

.bg-text-light {
  background-color: #999 !important; }

.border-text-light {
  border-color: #999 !important; }

.font-12 {
  font-size: 12px !important; }

.font-13 {
  font-size: 13px !important; }

.font-14 {
  font-size: 14px !important; }

.font-15 {
  font-size: 15px !important; }

.font-16 {
  font-size: 16px !important; }

.font-17 {
  font-size: 17px !important; }

.font-18 {
  font-size: 18px !important; }

.font-19 {
  font-size: 19px !important; }

.font-20 {
  font-size: 20px !important; }

.font-21 {
  font-size: 21px !important; }

.font-22 {
  font-size: 22px !important; }

.font-23 {
  font-size: 23px !important; }

.font-24 {
  font-size: 24px !important; }

.font-25 {
  font-size: 25px !important; }

.font-26 {
  font-size: 26px !important; }

.font-27 {
  font-size: 27px !important; }

.font-28 {
  font-size: 28px !important; }

.font-29 {
  font-size: 29px !important; }

.font-30 {
  font-size: 30px !important; }
.font-35 {
  font-size: 35px !important; }
.font-bold-sub {
  font-weight: 500 !important; }

.font-bold {
  font-weight: bold !important; }

.no-padding {
  padding: 0 !important; }

.padding-10 {
  padding: 10px !important; }

.padding-15 {
  padding: 15px !important; }

.padding-20 {
  padding: 20px !important; }

.no-margin {
  margin: 0 !important; }

.margin-10 {
  margin: 10px !important; }

.margin-15 {
  margin: 15px !important; }

.margin-20 {
  margin: 20px !important; }
.mt-10{
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important; }
.mr-20{
  margin-right: 20px!important;
}
.mt-30 {
  margin-top: 30px !important; }

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important; }

.hidden {
  display: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }
.h80{
  height: 80px;}

.modal{
  border-radius:6px;
}
.color-black{
  color:#333;
}
